<%= form_with(model: section_student, local: true) do |form| %>
  <% if section_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section_student.errors.count, "error") %> prohibited this section_student from being saved:</h2>

      <ul>
      <% section_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Section_id %>
    <%= form.text_field :Section_id, id: :section_student_Section_id %>
  </div>

  <div class="field">
    <%= form.label :Student_id %>
    <%= form.text_field :Student_id, id: :section_student_Student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
