<p id="notice"><%= notice %></p>

<h1>Section Students</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_students.each do |section_student| %>
      <tr>
        <td><%= section_student.Section %></td>
        <td><%= section_student.Student %></td>
        <td><%= link_to 'Show', section_student %></td>
        <td><%= link_to 'Edit', edit_section_student_path(section_student) %></td>
        <td><%= link_to 'Destroy', section_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section Student', new_section_student_path %>
