<h1>User Login</h1>

<ul>
	<% if user_signed_in? %>
	      <%= link_to "Courses", courses_path %> 
      <%= link_to "Sections", sections_path %>
      <%= link_to "Students", students_path %>
      <%= link_to "Login/Logout", root_path %>
		<li>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		</li>
	<% else %>
	<li>
		<%= link_to "Sign In", new_user_session_path %>
	</li>
	<li>
		<%= link_to "Sign Up", new_user_registration_path %>
	</li>
 <% end %>
</ul>


