<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :course_Name %>
  </div>

  <div class="field">
    <%= form.label :Department %>
    <%= form.text_field :Department, id: :course_Department %>
  </div>

  <div class="field">
    <%= form.label :Number %>
    <%= form.text_field :Number, id: :course_Number %>
  </div>

  <div class="field">
    <%= form.label :Credit_Hours %>
    <%= form.number_field :Credit_Hours, id: :course_Credit_Hours %>
  </div>

  <div class="field">
  <%= form.label :Sections %>
  <%= collection_select(:section, :course_id, Section.all, :id, :Number) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
