<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.Name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.Department %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.Number %>
</p>

<p>
  <strong>Credit hours:</strong>
  <%= @course.Credit_Hours %>
</p>

<p>
  <strong>Section:</strong>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
